<html>

  <template>
    <i class="material-icons">menu</i>
  </template>

  <script>
  (function (window) {
    'use strict'

    const document = window.document

    const template = window.tjp.util
      .getCurrentDocument(window)
      .querySelector('template')

    class TjpLeftMenuToggleElement extends window.HTMLButtonElement {

      createdCallback () {

        const clone = document.importNode(template.content, true)
        this.appendChild(clone)

        this.addEventListener('click', function () {
          this.classList.toggle('tjp-bttn-active')
        })
      }
    }

    window.tjp.util.registerInheritedComponent(TjpLeftMenuToggleElement,
                                               'tjp-left-menu-toggle',
                                               'button')

  })(window)
  </script>

</html>
