<html>
  <script>
  (function (window) {
    'use strict'

    const document = window.document

    const DEMO_LAYOUT = [
      {w: 1, h: 1, x: 0, y: 0},
      {w: 1, h: 2, x: 0, y: 1},
      {w: 2, h: 2, x: 1, y: 0},
      {w: 1, h: 1, x: 1, y: 2},
      {w: 2, h: 1, x: 2, y: 2},
      {w: 1, h: 1, x: 3, y: 0},
      {w: 1, h: 1, x: 3, y: 1},
      {w: 1, h: 1, x: 4, y: 0},
      {w: 3, h: 1, x: 5, y: 0},
      {w: 2, h: 1, x: 5, y: 1},
      {w: 1, h: 1, x: 5, y: 2},
      {w: 2, h: 1, x: 6, y: 2},
      {w: 1, h: 1, x: 7, y: 1},
      {w: 2, h: 1, x: 8, y: 0},
      {w: 1, h: 1, x: 10, y: 0},
      {w: 1, h: 1, x: 10, y: 1},
      {w: 1, h: 1, x: 10, y: 2}
    ]

    function createItem (content) {

      const h4 = document.createElement('h4')
      h4.classList.add('card-title')
      // h4.textContent = content

      const p = document.createElement('p')
      p.classList.add('card-text')
      // p.textContent = content
      p.textContent = 'x'

      const card = document.createElement('div')
      card.classList.add('card')
      card.classList.add('card-block')
      card.appendChild(h4)
      card.appendChild(p)
      card.draggable = true

      return card
    }

    class TjpAppElement extends window.HTMLDivElement {

      createdCallback () {
        // called BEFORE its children are initialized (in Chrome)
      }

      createDemoDashboards () {
        const keys = [1, 2, 3].map(idx => {

          const key = `db${idx}`
          const name = `Dashboard #${idx}`

          const dashboard = document.createElement('x-grid-list')
          dashboard.setAttribute('direction', 'horizontal')
          dashboard.setAttribute('lanes', '5')

          const onResize = dashboard.grid.onGridContainerResize
          window.addEventListener('resize', onResize)
          window.addEventListener('DOMContentLoaded', onResize)

          this.dom.tabNavs.appendTab(key, name)
          this.dom.tabPanes.appendContent(key, dashboard)

          DEMO_LAYOUT.forEach(pos => {
            const div = createItem(JSON.stringify(pos))
            dashboard.appendGridElement(div, pos)
          })

          return key
        })
      }

      createLocalDom () {
        return {
          tabNavs: this.querySelector('.tjp-tabs'),
          tabPanes: this.querySelector('.tjp-main'),
          menu: this.querySelector('.tjp-menu'),
          widgetSelector: this.querySelector('#widget-selector')
        }
      }

      /** @public */
      initialize () {

        this.widgetFactory = window.tjp.widgetFactory

        this.dom = this.createLocalDom()

        this.createDemoDashboards()
        this.dom.tabNavs.showFirst()

        this.dom.menu.addEventListener('create-widget', (event) => {
          this.showWidgetSelector(event.detail.modelData)
        })

        // resize grid when tab becomes active
        this.dom.tabNavs.addEventListener('tjp-click', (event) => {

          // TODO use dedicated bootstrap event
          const tab = this.dom.tabPanes.getContent(event.detail.key)

          if (tab) {
            this.currentDashboard = tab.getElementsByTagName('x-grid-list')[0]
          } else {
            this.currentDashboard = undefined
          }

          if (this.currentDashboard) {
            this.currentDashboard.grid.onGridContainerResize()
          }
        })

        this.currentDashboard =
          this.dom.tabPanes.getFirst().getElementsByTagName('x-grid-list')[0]
      }

      showWidgetSelector (modelData) {

        const datas = modelData.map(x => x.data)
        const models = modelData.map(x => x.model)

        const availableWidgets =
          this.widgetFactory.getAvailableWidgetsDescriptors(datas)

        this.dom.widgetSelector
          .showModal(availableWidgets)
          .then(([tag, descriptor]) => {

            if (! this.currentDashboard) {
              return
            }

            const widget = this.widgetFactory.buildWidget(
              tag,
              models,
              descriptor.attributes)

            // TODO move sizes to widget descriptors
            let width = 5
            let height = 1
            if (tag == 'tangojs-trend') {
              height = 4
            } else if (tag == 'tangojs-form') {
              height = Math.ceil(models.length/2)
            } else if (tag == 'tangojs-command-button') {
              width = 2

              const model0 = models[0].split('/')
              widget.innerText = model0[model0.length-1]
            }

            const card = document.createElement('div')
            card.classList.add('card')
            card.classList.add('card-block')
            card.draggable = true
            card.appendChild(widget)

            this.currentDashboard.appendGridElement(card, {
              x: 99,
              y: 99,
              w: width,
              h: height
            })
          })
      }
    }

    window.tjp.util.registerInheritedComponent(TjpAppElement,
                                               'tjp-app',
                                               'div')

  })(window)
  </script>
</html>
