<html>
  <script>
  (function (window) {
    'use strict'

    const document = window.document

    class TjpTabsContentElement extends window.HTMLDivElement {

      createdCallback () {
        this.tabs = []
      }

      appendContent (key, content) {

        const div = document.createElement('div')
        div.classList.add('tab-pane')
        div.setAttribute('id', key)
        div.setAttribute('role', 'tabpanel')
        div.appendChild(content)

        this.appendChild(div)
        this.tabs[key] = div
      }

      removeContent (key) {
        const tab = this.tabs[key]
        if (tab) {
          this.removeChild(tab)
          delete this.tabs[key]
        }
      }

      getContent (key) {
        return this.tabs[key]
      }

    }

    window.tjp.util.registerInheritedComponent(TjpTabsContentElement,
                                               'tjp-tabs-content',
                                               'div')

  })(window)
  </script>
</html>
