<html>
  <script>
  (function (window) {
    'use strict'

    const document = window.document

    class TjpTabsBarElement extends window.HTMLUListElement {

      createdCallback () {
        this.tabs = []
      }

      appendTab (key, text) {

        const a = document.createElement('a')
        a.classList.add('nav-link')
        a.setAttribute('data-toggle', 'tab')
        a.setAttribute('href', `#${key}`)
        a.setAttribute('role', 'tab')
        a.innerText = text

        const tab = document.createElement('li')
        tab.classList.add('nav-item')
        tab.appendChild(a)

        const event = new CustomEvent('tjp-click', { detail: { key } });
        $(a).on('shown.bs.tab', () => {
          this.dispatchEvent(event)
        })

        this.appendChild(tab)
        this.tabs[key] = tab
      }

      removeTab (key) {
        const tab = this.tabs[key]
        if (tab) {
          this.removeChild(tab)
          delete this.tabs[key]
        }
      }

      showFirst () {
        const first = this.firstChild
        if (first) {
          $(first.getElementsByTagName('a')[0]).tab('show')
        }
      }
    }

    window.tjp.util.registerInheritedComponent(TjpTabsBarElement,
                                               'tjp-tabs-bar',
                                               'ul')

  })(window)
  </script>
</html>
