<html>

  <template>
    <div class="btn-toolbar" role="toolbar" aria-label="Toolbar buttons">
      <div class="btn-group" role="group" aria-label="Delete group">
        <button type="button" class="btn btn-danger">
          <i class="material-icons">delete</i>
        </button>
      </div>
      <div class="btn-group" role="group" aria-label="Utility group">
        <button type="button" class="btn btn-secondary">
          <i class="material-icons">save</i>
        </button>
      </div>
      <div class="btn-group" role="group" aria-label="Lock group">
        <button type="button" class="btn btn-secondary">
          <i class="material-icons">lock</i>
        </button>
        <button type="button" class="btn btn-secondary">
          <i class="material-icons">lock_open</i>
        </button>
      </div>
    </div>
  </template>

  <script>
  (function (window) {
    'use strict'

    const document = window.document

    const template = window.tjp.util
      .getCurrentDocument(window)
      .querySelector('template')

    class TjpToolbarElement extends window.HTMLDivElement {

      createdCallback () {
        const clone = document.importNode(template.content, true)
        this.appendChild(clone)
      }
    }

    window.tjp.util.registerInheritedComponent(TjpToolbarElement,
                                               'tjp-toolbar',
                                               'div')

  })(window)
  </script>

</html>
