<html>

  <template>
    <div is="x-modal-window"
         url-bootstrap-css="node_modules/bootstrap/dist/css/bootstrap.css"
         class="fade"
         text-header="My Form"
         text-button-accept="Create"
         text-button-reject="Close">
      <form>
        <div class="form-group row">
          <label class="col-sm-2">Type</label>
          <div class="col-sm-6"></div>
          <div class="col-sm-4"></div>
        </div>
      </form>
    </div>
  </template>

  <script type="text/javascript" src="widget-selector.js"></script>
</html>
