<html>

  <template>
    <div is="x-modal-window"
         url-bootstrap-css="node_modules/bootstrap/dist/css/bootstrap.css"
         class="fade"
         text-header="New widget"
         text-button-accept="Create"
         text-button-reject="Close">
      <div class="container">
        <div class="row">
          <div class="col-sm-4" data-id="models"></div>
          <div class="col-sm-4" data-id="components"></div>
          <div class="col-sm-4" data-id="attributes"></div>
        </div>
      </div>
    </div>
  </template>

  <script type="text/javascript" src="widget-selector.js"></script>
</html>
