<html>

  <template>
      <div class="panel-heading" role="tab">
        <h5 class="panel-title">
          <a class="collapsed"
             data-toggle="collapse"
             data-parent="#data-parent-placeholder"
             href="#id-placeholder">
            Title-placeholder
          </a>
        </h5>
      </div>
      <div id="id-placeholder" class="panel-collapse collapse" role="tabpanel">
      </div>
  </template>

  <script type="text/javascript" src="section.js"></script>

</html>
